@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&family=Rubik+Doodle+Shadow&family=Urbanist&display=swap');

body {
    font-family: 'Montserrat';
    background-color: #dbeafe;
    margin: 0;
    padding: 0;
}


.heading {
    text-align: center;
    color: #0c0a09;
    margin-bottom: 30px;
}

.list {
    border-spacing: 10px;
    width: 100vw;
    padding: 4px;
    text-align: center;
}

.listHead{
    border: 1px solid blue;
    border-spacing: 10px;
    font-size: 25px;
    position: sticky;
}

hr {
    width: 100%;
}

svg {
    width: 50px;
    padding-right: 10px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
}

