body{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 20px;
    gap: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    font-size: 32px;
    opacity: 25%;

}

.next-competitor-container{
    display: flex;
    justify-content: space-between;
}
.current-competitor-container{
    display: flex;
    flex-direction: column;    
}

.ontrack, .style, .run{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-and-comment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-send-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}



