@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&family=Rubik+Doodle+Shadow&family=Urbanist&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

body{
    background: linear-gradient(315deg, #BFDCFE, #F1FCFF);
}

.logo-text{
    font-size: 32px;
    
}

.header{
    margin-top: 20px;
    gap: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.middle-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px auto;
    width: 50%;
    border: 1px solid black;
    box-shadow: 0 0 7px 7px rgba(0,0,0,0.10) inset;
    height: 571px;
    width: 380px;
    background: #ffffff;
    border-radius: 15px;

}

.bottom-container{
    gap: 10px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valju, .login{
    box-shadow: 7px 7px rgba(0,0,0,0.10);
    border-radius: 15px 0;
    width: 178px;
    height: 74px;
    font-size: 32px;
}

.middle-text-and-number{
    height: 150px;
    width: 200px;
    background-color: #F1FCFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.left-arrow{
    margin-right: 25px;
}
.right-arrow{
    margin-left: 25px;
}

.text{
    margin-bottom: 20px;
    font-size: 32px;
}
.number{
    font-size: 48px;
    color: #991b1b;
    font-weight: 500;
    -webkit-text-stroke: 1px rgb(75, 74, 74);
}